<link href="{{site.data.info.assets}}assets/css/ig.gematik.css" rel="stylesheet" />
<script type="text/javascript" src="{{site.data.info.assets}}assets/js/ig.gematik.min.js"> </script>
<link href="{{site.data.info.assets}}assets/css/edge-dark.min.css" rel="stylesheet" />
<script type="text/javascript" src="{{site.data.info.assets}}assets/js/ig.api.doc.gematik.min.js"> </script>
<link href="{{site.data.info.assets}}assets/css/ig.req.gematik.css" rel="stylesheet" />
<script type="text/javascript" src="{{site.data.info.assets}}assets/js/ig.req.gematik.min.js"> </script>

<script type="text/javascript" src="{{site.data.info.assets}}assets/js/ig.bibliography.gematik.js"> </script>

<!-- New template-owned overrides; keep the upstream old template assets unchanged. -->
<link href="{{site.data.info.assets}}assets/css/ig-template-modern.css" rel="stylesheet" />
{% if site.data.constants.ballot %}
<script type="text/javascript" src="{{site.data.info.assets}}assets/js/ig.github.issue.gematik.js"> </script>
{% endif %}

{% include append-fragment-styles.html %}
